@model IEnumerable<MittInternPortal.Models.Apply>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            <b>FullName:</b>    @ViewBag.FullName <br />
        </th>
        <th>
            <b>Email:</b>  @ViewBag.Email<br />
        </th>
        <th>
            <b>EmployerId  @ViewBag.EmployerId</b>
        </th>

    </tr>


</table>
