
@{
    ViewBag.Title = "Apply";
}

<h2>Apply</h2>

@using (Html.BeginForm())
{
<p>
    Full Name: @Html.TextBox("userId")
    Name: @Html.TextBox("userId")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</p>

}